<div class="row">
    <div class="col-md-4 col-md-offset-4 registerPanel">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Account Creation</h3>
                <div ng-controller="registerController">
                    <!-- create our form -->
                    <form name="registerForm" ng-submit="registerForm.$valid && registerUser()" novalidate>
                        
                        <!-- name field -->
                        <div class="form-group" ng-class="{ 'has-error': registerForm.name.$touched && registerForm.name.$invalid }">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="3" ng-maxlength="20" required>
                                
                            <div class="help-block" ng-messages="registerForm.name.$error" ng-show="registerForm.name.$touched">
                                <div ng-messages-include="views/form-error-messages/ng-messages.html"></div>
                            </div>
                        </div>
                        
                        <!-- email field -->
                        <div class="form-group" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="user.email" ng-minlength="3" ng-maxlength="40" required required record-availability-validator="/checkEmail"> 
        
                            <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
                                <div ng-messages-include="views/form-error-messages/ng-messages.html"></div>
                            </div>
                        </div>
                        
                        <!-- username field -->
                        <div class="form-group" ng-class="{ 'has-error': registerForm.username.$touched && registerForm.username.$invalid }">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="5" ng-maxlength="20" required record-availability-validator="/checkUsername"> 
        
                            <div class="help-block" ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched">
                                <div ng-messages-include="views/form-error-messages/ng-messages.html"></div>
                            </div>
                        </div>
                        
                        <!-- password field -->
                        <div class="form-group" ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="20" required> 
        
                            <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
                                <div ng-messages-include="views/form-error-messages/ng-messages.html"></div>
                            </div>
                        </div>
                        
                        
                        <!-- passwordConfirm field -->
                         <div class="form-group" ng-class="{ 'has-error': registerForm.confirmPassword.$touched && registerForm.confirmPassword.$invalid }">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" required compare-to="user.password"/>
                            
                            <div class="help-block" ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched">
                                <div ng-messages-include="views/form-error-messages/ng-messages.html"></div>
                            </div>
                        </div>
                        
                        <!-- submit button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Register</button>
                        </div>
                        
                        <h5 class="loginSuccess">{{regInfo}}</h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
